@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main page</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center mt-3"><strong>Lalraen's APPs</strong></h1>
    <div class="text-lg-center mt-3">
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("Monobank(WIP)", "Monobank", "Monobank")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("Electricity(WIP)", "Electricity", "Electricity")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("EdrpoyParser (NYI)", "Main")
        </button>
    </div>
    <div class="text-lg-center mt-3">
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("PC's info (NYI)", "PcInfo")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("GitHub", "RedirectGitHub")
        </button>
    </div>
    <div class="text-lg-center mt-3">
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("MoneyControl(NYI)", "Main")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("Shopping List(NYI)", "Main")
        </button>
    </div>
    <div class="text-lg-center fixed-bottom mt-lg-5">
        <button class="btn btn-success btn-lg">
            @Html.ActionLink("Donate", "RedirectDonate")
        </button>
        <button class="btn btn-danger btn-lg">
            @Html.ActionLink("Main", "Main")
        </button>
    </div>
</body>
</html>