@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center mt-3"><strong>Main page</strong></h1>
    <div class="text-lg-center mt-3">
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("Monobank", "MonobankMain", "MonobankInstallment")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("Electricity", "ElectricityMain", "ElectricityPayment")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("EdrpoyParser (NYI)", "Main")
        </button>
    </div>
    <div class="text-lg-center mt-3">
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("(NYI)", "Main")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("PC's info (NYI)", "Main")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("GitHub", "RedirectGitHub")
        </button>
    </div>
    <div class="text-lg-center mt-3">
        <button class="btn btn-success btn-lg">
            @Html.ActionLink("Donate", "RedirectDonate")
        </button>
    </div>
    <div class="text-lg-center fixed-bottom">
        <button class="btn btn-danger btn-lg mb-lg-5">
            @Html.ActionLink("Main", "Main")
        </button>
    </div>
</body>
</html>