@{
    ViewBag.Title = "Lalraen main programs";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main page</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center mt-3"><strong>Lalraen main programs</strong></h1>
    <div class="text-lg-center mt-3">
        <button class="btn btn-primary btn-lg">
            <img src="" />
            @Html.ActionLink("Monobank", "Monobank", "Monobank")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("Electricity", "Electricity", "Electricity")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("EdrpouParser(WIP)", "EdrpouParser", "EdrpouParser")
        </button>
    </div>
    <div class="text-lg-center mt-3">
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("PC's info (NYI)", "PcInfo")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("GitHub", "RedirectGitHub")
        </button>
    </div>
    <div class="text-lg-center mt-3">
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("MoneyControl(NYI)", "Main")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("Shopping List(NYI)", "Main")
        </button>
    </div>
</body>
</html>