@model LalraenMainAzureWeb.Models.InstallmentModel

@{
    ViewBag.Title = "Monobank Installment";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monobank installment calculation</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .form-control {
            width: auto;
            margin: auto;
            text-align:center;
        }
    </style>
</head>
<body>
    <h1 class="text-center mt-3"><strong>Calculate your Monobank© installment payment</strong></h1>
    @using (Html.BeginForm("Monobank", "Monobank", FormMethod.Post, 
        new { @class = "form-horizontal", role = "form" }))
    {
        <div class="text-center">
            <div class="mt-3">
                @Html.LabelFor(m => m.Sum, 
               new { @class = "" })
                @Html.TextBoxFor(m => m.Sum, 
               new { @class = "form-control", @placeholder = "More than 1000" })
            </div>
            <div class="mt-3">
                @Html.LabelFor(m => m.Duration, 
               new { @class = "" })
                @Html.TextBoxFor(m => m.Duration,
               new { @class = "form-control", @placeholder = "From 3 to 24 months" })
            </div>
            <div class="mt-3">
                @Html.LabelFor(m => m.Percent, 
               new { @class = "" })
                @Html.TextBoxFor(m => m.Percent, 
               new { @class = "form-control", @Value = "1.9" })
            </div>
            <input type="submit" class="btn btn-success mt-3" value="Calculate payment" />
        </div>
    }
    @using (Html.BeginForm("Monobank", "Monobank", FormMethod.Get, 
        new { @class = "form-horizontal", role = "form" }))
    {
        <div class="text-center mt-lg-3">
            <div class="mt-3">
                @Html.LabelFor(m => m.SumPerMonth, 
               new { @class = ""})
                @Html.TextBoxFor(m => m.SumPerMonth, 
               new { @class = "form-control", @placeholder = "Press calculate payment", @readonly = "readonly" })
            </div>
            <div class="mt-3">
                @Html.LabelFor(m => m.OverPayment, 
               new { @class = "" })
                @Html.TextBoxFor(m => m.OverPayment, 
               new { @class = "form-control", @placeholder = "Press calculate payment", @readonly = "readonly" })
            </div>
            <div class="mt-3">
                @Html.LabelFor(m => m.FinalSum,
               new { @class = "" })
                @Html.TextBoxFor(m => m.FinalSum, 
               new { @class = "form-control", @placeholder = "Press calculate payment", @readonly = "readonly" })
            </div>
        </div>
    }
</body>
</html>